{% extends 'layout.jinja2' %}

{% block content %}
<form action="{{ request.path }}" method="POST">
	<ul>
	{% for field in form %}
	<li> {{ field }} </li>
	{% endfor %}
	
	{# Still need a submit button #}
</form>	
{% endblock %}

