{% extends 'layout.jinja2' %}

{% block content %}
<a href="{{ request.route_url('clientpage_view', uid=uid, loc=loc) }}">View</a>
<div id="flexcontainer_row">
	<form action="{{ request.path }}" method="POST" class="col1">
		<ul>
		{# Format with "|replace("_", "") and |capitalize #}
		{# {% set field_line = '<li>'|safe + field.label|replace("_", " ")|capitalize + ': '|safe + field|capitalize + '</li>'|safe %} #}
		{# {{ field_line }} #}

		{% for field in form %}
			<li>{{ field.label|safe|capitalize|replace("_", " ") }}: {{ field }}</li>
		{% endfor %}
		</ul>
	
		<button type="submit">Submit</button>
	</form>	
	<div class="col2">
		<ul>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='individual') }}" id="individualInformation">Individual's Information</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='education') }}" id="education">Education</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='professional') }}" id="profesionalInformation">Professional Information</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='history') }}" id="workHistory">Work History</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='affiliations') }}" id="hospitalAffiliations">Hospital Affiliations</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='references') }}" id="references">References</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='insurancecoverage') }}" id="insuranceCoverage">Insurance Coverage</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='callcoverage') }}" id="callCoverage">Call Coverage</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='location') }}" id="practiceLocation">Practice Location Information</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='disclosure') }}" id="disclosureQuestions">Disclosure Questions</a></li>
		       <li><a href="{{request.route_url('clientpage_edit', uid=uid, loc='standards') }}" id="standardAAR">Standard Authorization, Attestation, and Release</a></li> 
		</ul>
	</div>
</div>
{% endblock %}

