{% extends 'layout.jinja2' %}	
{% block content %}
		<div id=main>
			<div id="appnav">
				<ul>
					{# iterate through all of the clients with links to their pages #}
					{% for client in clients %}
					<li class='clients-list'><a href="{{request.route_url('clientpage_view', uid=client.id, loc='individual')}}">
						{{client.last_name}}, {{client.first_name}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
{% endblock %}
